muuu{
  background-color: rgba(88, 88, 223, 0.964);
}
.home{
  background-color: rgba(88, 88, 223, 0.964);
  
 height: 90vh;
}
.myphoto{
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
}
.header{
  background-color: rgba(88, 88, 223, 0.964);
  height:10vh;
 
}
.main{
  font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-size: 25px;
}
.mainpg{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;

}
.lpimg{
  /* width: 80%; */
  
}
.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
.myp{
  
}
.project{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  gap: 40px;
  
}
.box{
  box-shadow: 5px 5px 10px 5px lightblue;
}
.myprojects{
  /* background-color:  rgba(88, 88, 223, 0.964); */
 
}
.text{
  width: 50%;
  border: 0px solid ;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 5px 5px 10px 10px lightblue;
}
.ipt{
  border: 2px solid lightblue;
  border-radius: 4px;
}